body,html{
   
}

.registeruser{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
}   


.loginuser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}